################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/printer_pos/obj
/printer_pos/bin/Debug/net6.0
/.vs
